# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
coverage/
.tmp/

# Env / Secrets
.env
.env.*.local

# Prisma
prisma/generated/
.prisma/
**/*.db-journal

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
